<?php

if ($skus = $block->getData('sku')) {
    $p = $block->getProductsCollection($skus);

} ?>


<div class="magento-abonament">
    <ul class="row">
        <li class="legend"> </li>

        <?php foreach ([1, 2, 3] as $i) { ?>
            <li>
                <a href="<?= $block->getProductUrl($p[$i]); ?>">
                    <img style="max-width: 60%;" src="<?= $block->getImageUrl($p[$i]); ?>"
                         alt="<?= $p[$i]->getName(); ?>">
                </a><br>
                <?= $p[$i]->getName(); ?><br>
                <span class="price"><?= $block->getProductPrice($p[$i]); ?> </span><?= $block->getDropdownText($p[$i], 'okres_rozliczeniowy', $p[$i]->getOkresRozliczeniowy()); ?>
            </li>
        <?php } ?>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/okres-testowy" target="blank" title="Zobacz więcej na ten temat okresu testowego">Okres
                TESTOWY</a></li>
        <li>14 dni</li>
        <li>14 dni</li>
        <li>14 dni</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/serwer-vps-dla-sklepu-magento" target="blank"
                              title="Zobacz więcej na ten temat serwerów VPS dla Magento">Powierzchnia dyskowa/Pamięć operacyjna</a>
        </li>
        <li>200GB SSD/8GB</li>
        <li>400GB SSD/16GB</li>
        <li>800GB SSD/30GB</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/szybkosc-lacz-serwerow" target="blank"
                              title="Zobacz więcej na ten temat szybkości łącz naszych serwerów">Szybkość łącz serwerów</a>
        </li>
        <li>200 Mbit/s port<br/> TRANSFER bez limitu</li>
        <li>400 Mbit/s port<br/> TRANSFER bez limitu</li>
        <li>600 Mbit/s port<br/> TRANSFER bez limitu</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/ilosc-produktow-w-sklepie-magento" target="blank"
                              title="Zobacz więcej na temat ilości produktów w sklepie">Ilość produktów</a></li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/ilosc-kont-administratora" target="blank"
                              title="Zobacz więcej na temat ilości kont administratoa sklepu">Liczba administratorów</a>
        </li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/ilosc-kont-pocztowych" target="blank"
                              title="Zobacz więcej na temat ilości kont pocztowych">Liczba skrzynek e-mail</a></li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/wielowalutowosc-wielojezycznosc" target="blank"
                              title="Zobacz więcej na temat ilości walut i języków">Możliwa ilość języków i walut</a>
        </li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
        <li>bez ograniczeń</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/konsola-ssh" target="blank"
                              title="Zobacz więcej na temat konsoli SSH">SSH</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/zgodnosc-sklepu-z-rodo" target="blank"
                              title="Zobacz więcej na temat zgodności sklepu Magento z RODO">Zgodność z RODO</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/darmowy-certyfikat-ssl" target="blank"
                              title="Zobacz więcej na temat Certyfikatu SSL">Certyfikat SSL w cenie</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/grupy-rabatowe" target="blank"
                              title="Zobacz więcej na temat grup rabatowych w Magento">Grupy Rabatowe</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/promocje-na-katalog-w-magento" target="blank"
                              title="Zobacz więcej na temat promocji na katalog">Promocje na katalog</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/progi-cenowe-magento" target="blank"
                              title="Zobacz więcej na temat progów cenowych">Progi cenowe</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/wsparcie-techniczne-magento" target="blank"
                              title="Zobacz więcej na temat wsparcia technicznego dla Magento">Wsparcie techniczne</a>
        </li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/sposob-wyswietlania-cen-w-magento" target="blank"
                              title="Zobacz więcej na temat sposobów wyświetlania cen w Magento">Możliwość wyświetlania
                cen netto lub brutto</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/wielosklepowosc-w-magento" target="blank"
                              title="Zobacz więcej na temat Multisklepów w Magento">Multisklepy</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/integracje-magento" target="blank"
                              title="Zobacz więcej na temat integracji w Magento">Integracja z hurtownią</a></li>
        <li>Tak</li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/integracja-wfirma-magento" target="blank"
                              title="Zobacz więcej na temat integracji Magento z wFirma">Integracja z wFirma</a></li>
        <li></li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/powiadomienia-o-stanach-magazynowych-w-magento" target="blank"
                              title="Zobacz więcej na temat powiadomień">Powiadomienia o niskich stanach
                magazynowych</a></li>
        <li></li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/blog-w-magento" target="blank"
                              title="Zobacz więcej na temat zastosowania Bloga w Magento">Blog</a></li>
        <li></li>
        <li>Tak</li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/faq-magento-zapytania-o-produkt" target="blank"
                              title="Zobacz więcej na temat FAQ oraz zapytań o produkt">FAQ + zapytaj o produkt</a></li>
        <li></li>
        <li></li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/migracja-do-magento" target="blank"
                              title="Zobacz więcej na temat migracji do Magento">Przeniesienie Twojego sklepu do
                Magento</a></li>
        <li></li>
        <li></li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/szybkosc-sklepu-optymalizacja-seo" target="blank"
                              title="Zobacz więcej na temat optymalizacji i szybkości działania sklepów Magento">Optymalizacja
                SEO oraz Google Page Speed</a></li>
        <li></li>
        <li></li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/program-lojalnosciowy-magento" target="blank"
                              title="Zobacz więcej na temat programu-liojalnosciowego-magento">Program lojalnościowy</a>
        </li>
        <li></li>
        <li></li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"><a href="/szablon-wyglad-magento" target="blank"
                              title="Zobacz więcej na temat zarządzania wyglądem sklepu Magento">Zarządzanie wyglądem
                sklepu</a></li>
        <li></li>
        <li></li>
        <li>Tak</li>
    </ul>
    <ul class="row">
        <li class="legend"></li>
        <li><a href="<?= $block->getProductUrl($p[1]); ?>" class="calltoaction">WYBIERAM</a></li>
        <li><a href="<?= $block->getProductUrl($p[2]) ?>" class="calltoaction">WYBIERAM</a></li>
        <li><a href="<?= $block->getProductUrl($p[3]); ?>" class="calltoaction">WYBIERAM</a></li>
    </ul>
</div>

